@page "/"
@using QuizaDjuret.Client.Managers;
@using QuizaDjuret.Client.Services;
@using QuizaDjuret.Shared;
@inject QuizService quizService

@* HTML HÄR *@

@if(GameManager.CurrentQuestion == 0)
{
    @* Design ska in här *@
      
    <button class="btn btn-start" style="font-family: 'bubblegum Sans'; background-color: green; color: black; border-radius: 5px;" @onclick="() => Click()">Starta Quiz</button>
           
}
else
{
    <div>
        <p>
            @GameManager.CurrentQuestionText
        </p>
        @* Svarsknappar ska in här *@

        <button @onclick="() => Click()">Next Question</button>
        <h3>@GameManager.CurrentQuestion</h3>
    </div>
}

<br />
<br />
<br />
<button @onclick="() => Restart()">Starta om ditt svin</button>

<h1>@loading</h1>


@* REN C# HÄR *@
@code{

    private bool isStarted = false;

    private string text = "Hej på dig";

    public string loading = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        //GameManager.Question = await quizService.Testget(1);
        GameManager.Questions = await quizService.GetAll();
    }

    public void Click()
    {
        GameManager.NextQuestion();
    }

    public void Restart()
    {
        GameManager.ResetQuiz();
    }
}