@page "/"
@using QuizaDjuret.Client.Services;
@inject QuizService Service
<h1>@text</h1>
<button @onclick="() => Click()">Play</button>






@code{
	private string text = "Hej på dig";
	public async void Click()
	{
		
		text = await Service.Testget(1);
	}
}