@page "/"
@using QuizaDjuret.Client.Services;
@inject QuizService quizService

@* HTML HÄR *@
<h1>@text</h1>
<button @onclick="() => Click()">Play</button>








@* REN C# HÄR *@
@code{
	private string text = "Hej på dig";
	public async void Click()
	{
		string newText = await quizService.Testget(1);
		text = newText;
	}
}