html {
   
}


body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-size: cover;

}

.main-layout {
    display: flex;
    padding: 0px;
}


h1 {
    color: #124520;
    font-size: 80px;
    display: flex;
    justify-content: center;
    font-family: 'Cherry Bomb One', cursive;
    margin-bottom: 20px;
    color: #9E4016; /*#61300F;*/
}

h2 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-family: 'Cherry Bomb One', cursive;
    color: darkorange;
}

h3 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
}

p {
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Almarai', sans-serif;
    margin: 7px;
    padding: 0px;
    font-family: 'Gochi Hand', cursive;
    font-weight: bold;
    color: #586219;
}

.main-box {
    height: 680px;
    width: 1100px;
    background: rgb(255, 255, 255, 0.95);
    padding: 30px;
    display: grid;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    margin: 0px;
}

.rubrik-box{
    height: 50px;
}

button {
    background: #CBDF50;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    border: none;
    font-family: 'Bubblegum Sans', cursive;
}

.start-btn-div{
    display: flex;
    justify-content:center;
}
.start-btn {
    height: 100px;
    width: 550px;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
    margin-top: 40px;
}

.main-box-frågor {
    height: 650px;
    width: 1000px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 30px;
    display: grid;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    margin: 0px;
}

.djur-img {
    height: 390px;
    width: 390px;
    border-radius: 0px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.8);
    /* border: double 3px yellow;*/
    border: 4px solid #FFCD85 /*#FF985A*/;
}

.fråge-box {
    display: grid;
    grid-template-columns: auto auto;

}

.fråga {
    background: rgb(255, 255, 255, 0.95);
    border-radius: 10px;
    font-family: 'Bubblegum Sans', cursive;
    border: solid 3px lightgray;
    box-shadow: 0 0 15px rgba(0,0,0, 0.2);
    width: 300px;
    color: black;
}

    .fråga:hover {
        background-color: #FFCD85;
        border: 2px solid gray;
    }


.nästafråga-btn-div {
    /*position: absolute;
    left: 0;
    right: 20%;
    bottom: 0;
    text-align: center;*/
    padding-bottom: 50px;

    display: flex;
    justify-content: end;
}

.bild-column {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: grid;
    width: 530px;
}

.fråge-column {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    align-content: center;
    display:grid;
    width: 410px;

    
}

.fråge-rad {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: center;
    height: 185px;
}

.funfact-hint-rad {
    grid-row-start: 2;
    grid-row-end: 3;
    display:grid;
   justify-content: center;
   height: 185px;
}

.nästa-btn {
    height: 70px;
    width: 350px;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
    background-color: #FFCD85;
    border: 5px solid darkorange;
    box-shadow: 0 0 15px rgba(0,0,0, 0.9);
    
}

.startaOm-btn {
    margin-top: 10px;
    display: flex;
    align-items: end;
    background: #F76164; /*rgb(255, 255, 255, 0.9);*/
    padding: 10px;
    font-family: 'Bubblegum Sans', cursive;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.9);
    width: 260px;
    /*border: 3px double #3D0709;*/
    justify-content: center;
}

.startaOm-div {
    display:flex;
    justify-content:end;
    margin:0px;
}

.funfact-hint-div {
    
    margin: 20px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.3);
    border-radius: 30px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 350px;
    margin-top: 30px;

  
}

.funfact-hint-p {
    font-size: 15px;
    font-family: Arial;
    color: saddlebrown;
}

.fun-hint-rubrik {
    font-family: 'Bubblegum Sans', cursive;
}

#fun-rubrik{
    color: darkgreen;
}

#hint-rubrik{
    color: blue;
}

#döljHint{
    position: absolute;
    top: 395px;
    left: 800px;
}

.red-text {
    /*color: red;*/
    background-color: #F76164;
    border: 1px solid black;
}

.green-text {
    /*color: green;*/
    background-color: #91DB77;
    border: 1px solid black;
}

.red-text:hover {
    background-color: #F76164;
    border: 1px solid black;
}
.red-text:focus {
    background-color: #F76164;
    border: 1px solid black;
}
.green-text:hover {
    background-color: #91DB77;
    border: 1px solid black;
}

.green-text:focus {
    background-color: #91DB77;
    border: 1px solid black;
}

.sb-box {
    background: white;
    /*height: 500px;*/
    width: 260px;
    margin-left: 10px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    font-family: Arial;
}

.p-sb {
    font-family: 'Bubblegum Sans', cursive;
    align-items: center;
    justify-content: center;
    width: 170px;
    color: black;
    margin: 20px 0px 10px 0px;
}

.player-row {
    background-color: darkorange;
    width: 220px;
    border-radius: 20px;
}

.other-players-row {
    background-color: #FFCD85;
    width: 220px;
    border-radius: 20px;
}

.sb-separator-line {
    padding: 0px;
    margin: 2px;
    border-radius: 0px;
}

table {
    width: 220px;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

hr{
    width: 220px;
}

td {
    padding-top: 10px;
}

th {
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    margin-top: 10px;
}

tr{
    padding: 15px;
}

.poäng-h2{
    color: darkorange;

}

.tableheader{

}

.col-rk{
    text-align:start;
    border-bottom-color: saddlebrown;
}

.col-nm {
    border-bottom-color: saddlebrown;
}

.col-png {
    text-align: end;
    border-bottom-color: saddlebrown;
    border-width: .5rem;
    border-radius: 2px;
    border-color: transparent;
}