html {
   
}


body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-size: cover;

}


h1 {
    color: #124520;
    font-size: 80px;
    display: flex;
    justify-content: center;
    font-family: 'Cherry Bomb One', cursive;
    margin-bottom: 20px;
}

h2 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-family: 'Cherry Bomb One', cursive;
    color: #778428;
}

h3 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
}

p {
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Almarai', sans-serif;
    margin: 7px;
    padding: 0px;
    font-family: 'Gochi Hand', cursive;
    font-weight: bold;
    color: #586219;
}

.main-box {
    height: 680px;
    width: 1100px;
    background: rgb(255, 255, 255, 0.95);
    border-radius: 30px;
    padding: 30px;
    display: grid;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    margin: 0px;
}

button {
    background: #CBDF50;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    border: none;
    font-family: 'Bubblegum Sans', cursive;
}

.start-btn-div{
    display: flex;
    justify-content:center;
}
.start-btn {
    height: 100px;
    width: 550px;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
    margin-top: 40px;
}

.main-box-frågor {
    height: 580px;
    width: 900px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 30px;
    display: grid;
    align-items: start;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    margin: 0px;
}

.test-btn {
    height: 300px;
    width: 300px;
  
}

.fråge-box{
    display: grid;
 
    
}

svarsalternativ-box{

}

.nästafråga-btn-div {
    display: flex;
    justify-content: end;
}